@font-face {
    font-family: 'Daydream';
    src: url('../fonts/Daydream/Daydream DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixelify';
    src: url('../fonts/Pixelify/PixelifySans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Daydream', monospace, sans-serif;
    font-size: 50px;
}

a {
    font-family: 'Pixelify', monospace, sans-serif;
}

.parent {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  grid-area: header;
  text-align: center;
  font-size: 2rem;
  padding: 20px;
}

.parent > div {
  grid-area: main;
}

footer {
  grid-area: footer;
  text-align: center;
  padding: 15px;
}