.canvas-container {
    position: relative;
    display: inline-block;
    border: 2px solid #333;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
}

#canvas {
    cursor: pointer;
    display: block;
    border: none;

}

#guide {
    pointer-events: none;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
}

#guide div {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}